<div class="animated fadeIn">
  
    
    <!--/row-->
   <div class="row">
   
            <form  class="form-validate form-horizontal"novalidate="">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <fieldset class="b0">
                            <legend>UI Form</legend>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Required Text</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text"  />
                                
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">required</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Checkbox &amp; Radio</label>
                                <div class="col-sm-6">
                                    <div class="checkbox c-checkbox">
                                        <label>
                                            <input type="checkbox"   />
                                           Option one</label>
                                    </div>
                             
                                    <div class="radio c-radio">
                                        <label>
                                            <input type="radio"  value="option1"  />
                                           Option one</label>
                                    </div>
                                    <div class="radio c-radio">
                                        <label>
                                            <input type="radio"  value="option2" />
                                           Option two</label>
                                    </div>
                            
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Select</label>
                                <div class="col-sm-6">
                                    <select class="form-control">
                                        <option value="">Nothing</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                    </select>
                           
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">mute</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Digits</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text"  />
                           
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">pattern="/^[0-9]+$/"</small>
                                </div>
                            </div>
                        </fieldset>
                     
                     
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Number</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="number"/>
                            
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">type='number'</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Alphanum</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text"   />
             
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">pattern="/^[a-zA-Z]+$/"</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="email" placeholder="mail@example.com"   />
                 
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">type='email'</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Url</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="url" placeholder="http://" />
                     
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">type='url'</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Date</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="date"  />
                    
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">type='date'</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Min</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text"  />
                  
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">min value 6</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Max</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text"  />
             
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">max value 10"</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Length range</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" />
     
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">length range between 6 and 10</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Value range</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text"  />
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">value range between 10 and 20</small>
                                </div>
                            </div>
                        </fieldset>
                    
                      
                        <fieldset class="bb0">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Range of words</label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text"  />
                                   
                                    
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">words range between 6 and 10</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email BlackList</label>
                                <div class="col-sm-6">
                                    <input class="form-control"/>
                              
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">BlackList:</small>
                                </div>
                            </div>
                        </fieldset>
                        
                        <fieldset>
                            <div class="form-group" formGroupName="passwordGroup">
                                <label class="col-sm-2 control-label">Equal to</label>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input class="form-control" type="password" />
                                        </div>
                                        <div class="col-xs-6">
                                            <input class="form-control" type="password"  />
                                        </div>
                                    </div>
                        
                                </div>
                                <div class="col-sm-4">
                                    <small class="text-muted">Value match</small>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                    <div class="panel-footer text-center">
                        <button class="btn btn-info text-center" type="submit">Run validation</button>
                    </div>
                </div>
                <!-- END panel-->
            </form>
      
    </div>
    <!--/row-->
</div>
